Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

.lintstagedrc:

{
	"backend/**/*.ts": ["yarn prettier --write \"./backend/**/*.ts\""],
	"backend/**/*.js": ["yarn prettier --write \"./backend/**/*.js\""],
	"frontend/**/*.ts": ["yarn prettier --write \"./frontend/**/*.ts\""],
	"frontend/**/*.tsx": ["yarn prettier --write \"./frontend/**/*.tsx\""],
	"frontend/**/*.js": ["yarn prettier --write \"./frontend/**/*.js\""]
}

update: fixed version depedencies for `frontend`
  .prettierignore
  README.md
  frontend/eslint.config.js
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

update: install `redux` & `axios`
  frontend/package.json
  frontend/yarn.lock
Due: none

update: fixed version depedencies for ``backend``
  backend/.eslintrc.js
  backend/.prettierrc
  backend/nest-cli.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js"

update: update readme
  README.md
  backend/README.md
  backend/package.json
  frontend/README.md
  frontend/package.json
  package.json
Due: none

update: install ``mongoose`` for ``backend``
  backend/package.json
  backend/yarn.lock
Due: none

update: implement for ``dev`` branch
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

add: upload issues template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

add: implement `Commit message validation` & `PR validation` workflows
  .github/workflows/commit-msg-validation.yml
  .github/workflows/pr-validation.yml
Due: none

docs: update the guideline for `.env` files
  backend/README.md
  frontend/README.md
Due: none

add: schemas for modules
  backend/src/app.module.ts
  backend/src/schemas/book.schema.ts
  backend/src/schemas/book_detail.schema.ts
  backend/src/schemas/borrow_history.schema.ts
  backend/src/schemas/borrow_request.schema.ts
  backend/src/schemas/category.schema.ts
  backend/src/schemas/guest.schema.ts
  backend/src/schemas/librarian.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: relationship of modules
  backend/src/schemas/book.schema.ts
  backend/src/schemas/book_detail.schema.ts
  backend/src/schemas/borrow_history.schema.ts
  backend/src/schemas/borrow_request.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: class-validator package for dtos
  backend/package.json
  backend/yarn.lock
Due: none

add: implement swagger for backend
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/swagger/setup.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

update: get `DATABASE_URL` from config service to mongoose module
  backend/src/app.module.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: dump data
  database/.gitkeep
  database/bookish.Book Detail.json
  database/bookish.Book.json
  database/bookish.Borrow History.json
  database/bookish.Borrow Request.json
  database/bookish.Category.json
  database/bookish.Guest.json
  database/bookish.Librarian.json
Due: none

add: implement category api
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/categories/categories.controller.ts
  backend/src/categories/categories.module.ts
  backend/src/categories/categories.service.ts
  backend/src/categories/dtos/category.dto.ts
  backend/src/prisma.service.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

add: implement `Validate branches on creation` workflow
  .github/workflows/validate-branches-on-creation.yml
  scripts/validate-branches-on-creation.sh
Due: none

fix: fix validate branches script
  scripts/validate-branches-on-creation.sh
Due: none

update: change project name to `ligevan`
  LEARN.md
  README.md
  backend/README.md
  backend/package.json
  database/.gitkeep
  database/bookish.Book Detail.json
  database/bookish.Book.json
  database/bookish.Borrow History.json
  database/bookish.Borrow Request.json
  database/bookish.Category.json
  database/bookish.Guest.json
  database/bookish.Librarian.json
  docs/CONTRIBUTING.md
  frontend/README.md
  frontend/package.json
  package.json
Due: none

add: create base for `vouchers` model
  backend/src/app.module.ts
  backend/src/schemas/book.schema.ts
  backend/src/schemas/book_detail.schema.ts
  backend/src/schemas/borrow_history.schema.ts
  backend/src/schemas/borrow_request.schema.ts
  backend/src/schemas/category.schema.ts
  backend/src/schemas/guest.schema.ts
  backend/src/schemas/librarian.schema.ts
  backend/src/vouchers/vouchers.controller.ts
  backend/src/vouchers/vouchers.module.ts
  backend/src/vouchers/vouchers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: create schema for `voucher`
  backend/src/schemas/voucher.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: create dto create & update for `voucher` model
  backend/src/vouchers/dtos/voucher.dto.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: use `module-alias` for alias `@/`
  backend/package.json
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.json
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

update: implement api for `vouchers`
  backend/src/app.module.ts
  backend/src/schemas/voucher.schema.ts
  backend/src/vouchers/dto/voucher.dto.ts
  backend/src/vouchers/vouchers.controller.ts
  backend/src/vouchers/vouchers.module.ts
  backend/src/vouchers/vouchers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: add ApiProperty for dto `vouchers`
  backend/src/vouchers/dto/voucher.dto.ts
  backend/src/vouchers/vouchers.controller.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: sonarcloud issue, close #13
  backend/src/vouchers/vouchers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: use alias `@/` instead relative import
  backend/src/app.module.ts
  backend/src/vouchers/vouchers.controller.ts
  backend/src/vouchers/vouchers.module.ts
  backend/src/vouchers/vouchers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix `voucher` module & swagger
  backend/package.json
  backend/src/main.ts
  backend/src/schemas/voucher.schema.ts
  backend/src/swagger/setup.ts
  backend/src/vouchers/vouchers.controller.ts
  backend/src/vouchers/vouchers.service.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

update: move `vouchers` module to `domains`
  backend/src/app.module.ts
  backend/src/domains/domains.module.ts
  backend/src/domains/vouchers/dto/voucher.dto.ts
  backend/src/domains/vouchers/vouchers.controller.ts
  backend/src/domains/vouchers/vouchers.module.ts
  backend/src/domains/vouchers/vouchers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: change slogan
  README.md
  backend/README.md
  backend/package.json
  backend/src/swagger/setup.ts
  frontend/README.md
  frontend/package.json
  package.json
Due: yarn prettier --write "./backend/**/*.ts"

add: add logging, implement `morgan` middleware
  backend/package.json
  backend/src/app.module.ts
  backend/src/domains/vouchers/vouchers.service.ts
  backend/src/main.ts
  backend/src/middlewares/morgan.middleware.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

add: implement pipe for validate dtos
  backend/package.json
  backend/src/main.ts
  backend/src/schemas/voucher.schema.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

add: implement `admin` module
  backend/package.json
  backend/src/domains/admins/admins.controller.ts
  backend/src/domains/admins/admins.module.ts
  backend/src/domains/admins/admins.service.ts
  backend/src/domains/admins/dto/admin.dto.ts
  backend/src/domains/domains.module.ts
  backend/src/domains/vouchers/vouchers.service.ts
  backend/src/schemas/admin.schema.ts
  backend/src/utils/hash.util.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

add: implement `verify` method
  backend/src/utils/hash.util.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: login auth for admin
  backend/src/domains/admins/admins.module.ts
  backend/src/domains/auth/admin/auth.admin.controller.ts
  backend/src/domains/auth/admin/auth.admin.module.ts
  backend/src/domains/auth/admin/auth.admin.service.ts
  backend/src/domains/auth/admin/dto/login.dto.ts
  backend/src/domains/auth/auth.guard.ts
  backend/src/domains/auth/auth.module.ts
  backend/src/domains/domains.module.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: get admin by username
  backend/src/domains/admins/admins.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: setup BearerAuth for swagger
  backend/src/swagger/setup.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: authenticate for admin
  backend/src/domains/auth/admin/auth.admin.controller.ts
  backend/src/domains/auth/admin/auth.admin.service.ts
  backend/src/domains/auth/auth.guard.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: sonarcloud issue
  backend/src/domains/auth/admin/auth.admin.service.ts
  backend/src/domains/auth/auth.guard.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: update some rules
  backend/src/middlewares/morgan.middleware.ts
  backend/tsconfig.json
  package.json
Due: yarn prettier --write "./backend/**/*.ts"
