Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

.lintstagedrc:

{
	"backend/**/*.ts": ["yarn prettier --write \"./backend/**/*.ts\""],
	"backend/**/*.js": ["yarn prettier --write \"./backend/**/*.js\""],
	"frontend/**/*.ts": ["yarn prettier --write \"./frontend/**/*.ts\""],
	"frontend/**/*.tsx": ["yarn prettier --write \"./frontend/**/*.tsx\""],
	"frontend/**/*.js": ["yarn prettier --write \"./frontend/**/*.js\""]
}

add: implement `Dockerfile` for backend
  backend/.dockerignore
  backend/Dockerfile
Due: none

update: optimize `Dockerfile` for backend
  backend/Dockerfile
Due: none

update: separate stages in `Dockerfile`
  backend/Dockerfile
  backend/README.md
  backend/src/main.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix `Dockerfile` build for backend
  backend/.dockerignore
  backend/Dockerfile
  backend/package.json
  backend/yarn.lock
Due: none

add: implement `Publish backend image` workflow
  .github/workflows/publish-backend-image.yml
  scripts/get-version.sh
Due: none

fix: fix `.dockerignore` for build image backend
  backend/.dockerignore
Due: none

add: implement `Dockerfile` for frontend
  frontend/.dockerignore
  frontend/Dockerfile
Due: none

fix: fix `Dockerfile` for frontend
  frontend/Dockerfile
Due: none

add: implement `Publish frontend image` workflow
  .github/workflows/publish-frontend-image.yml
Due: none

fix: fix sonarcloud scan
  backend/Dockerfile
Due: none

fix: fix sonarcloud scan
  frontend/Dockerfile
Due: none

fix: fix `Dockerfile` for backend
  backend/Dockerfile
Due: none

fix: fix `Dockerfile` for frontend again
  frontend/Dockerfile
Due: none

fix: fix `Dockerfile` missing `vite.config.ts`
  frontend/Dockerfile
Due: none

fix: fix `Dockerfile` missing `index.html`
  frontend/Dockerfile
Due: none

fix: fix `Dockerfile` missing `public` folder
  frontend/Dockerfile
Due: none

add: create base for `courses` module
  backend/src/app.module.ts
  backend/src/domains/courses/courses.controller.ts
  backend/src/domains/courses/courses.module.ts
  backend/src/domains/courses/courses.service.ts
  backend/src/domains/domains.module.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: `admin` & `voucher` modules
  backend/src/domains/admins/admins.module.ts
  backend/src/domains/vouchers/vouchers.module.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: dto & schema for `course`
  backend/src/domains/courses/courses.module.ts
  backend/src/domains/courses/dto/course.dto.ts
  backend/src/schemas/course.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: remove `-__v` when get object
  backend/src/domains/admins/admins.service.ts
  backend/src/domains/vouchers/vouchers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: export `course` schema
  backend/src/schemas/course.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: add @IsString verify for all fields string
  backend/src/domains/admins/dto/admin.dto.ts
  backend/src/domains/vouchers/dto/voucher.dto.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: optimize `voucher` module
  backend/src/domains/vouchers/vouchers.controller.ts
  backend/src/domains/vouchers/vouchers.module.ts
  backend/src/domains/vouchers/vouchers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: implement crud api for `course` module
  backend/src/domains/courses/courses.controller.ts
  backend/src/domains/courses/courses.module.ts
  backend/src/domains/courses/courses.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix `Dockerfile` permissions
  .editorconfig
  frontend/.editorconfig
  frontend/Dockerfile
Due: none

fix: fix format file `Dockerfile`
  .editorconfig
  backend/Dockerfile
Due: none

fix: delete import course module not need
  backend/src/app.module.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: create base for `centers` module
  backend/src/domains/centers/centers.controller.ts
  backend/src/domains/centers/centers.module.ts
  backend/src/domains/centers/centers.service.ts
  backend/src/domains/domains.module.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: schema for `centers` module
  backend/src/schemas/center.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: dto for `centers` module
  backend/src/domains/centers/dto/center.dto.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: implement auto sort import on save for backend
  .prettierrc
  backend/.prettierrc
  backend/package.json
  backend/src/app.module.ts
  backend/src/domains/admins/admins.controller.ts
  backend/src/domains/admins/admins.module.ts
  backend/src/domains/admins/admins.service.ts
  backend/src/domains/auth/admin/auth.admin.controller.ts
  backend/src/domains/auth/admin/auth.admin.module.ts
  backend/src/domains/auth/admin/auth.admin.service.ts
  backend/src/domains/auth/auth.guard.ts
  backend/src/domains/auth/auth.module.ts
  backend/src/domains/courses/courses.controller.ts
  backend/src/domains/courses/courses.module.ts
  backend/src/domains/courses/courses.service.ts
  backend/src/domains/domains.module.ts
  backend/src/domains/vouchers/vouchers.controller.ts
  backend/src/domains/vouchers/vouchers.module.ts
  backend/src/domains/vouchers/vouchers.service.ts
  backend/src/main.ts
  backend/src/middlewares/morgan.middleware.ts
  backend/src/swagger/setup.ts
  backend/yarn.lock
  package.json
  yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

add: implement auto sort import on save for frontend
  frontend/.prettierrc
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/main.tsx
  frontend/yarn.lock
Due: yarn prettier --write "./frontend/**/*.tsx"

update: delete api for `vouchers`
  backend/src/domains/domains.module.ts
  backend/src/domains/vouchers/vouchers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete api for `courses`
  backend/src/domains/courses/courses.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: implement api for `centers` module
  backend/src/domains/centers/centers.controller.ts
  backend/src/domains/centers/centers.module.ts
  backend/src/domains/centers/centers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix format for `Dockerfile`
  backend/.editorconfig
  backend/Dockerfile
Due: none

fix: fix format import
  backend/src/domains/centers/centers.controller.ts
  backend/src/domains/centers/centers.module.ts
  backend/src/domains/centers/centers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: update course schema
  backend/src/schemas/course.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: create base for `teachers` module
  backend/src/domains/domains.module.ts
  backend/src/domains/teachers/teachers.controller.ts
  backend/src/domains/teachers/teachers.module.ts
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"
