Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

update: auto add slot to class when create
  backend/src/domains/attendances/attendances.module.ts
  backend/src/domains/slots/slots.module.ts
  backend/src/domains/slots/slots.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: add Coursedetail component
  frontend/src/components/admin/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add Coursedetailofcenter component
  frontend/src/components/admin/CourseDetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add Coursedetailofcenter
  frontend/src/pages/admin/CourseDetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add Coursedetail
  frontend/src/pages/admin/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add Voucherdetailofcenter
  frontend/src/pages/admin/VoucherDetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add Voucherdetailofcenter component
  frontend/src/components/admin/VoucherDetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add Voucherdetail component
  frontend/src/components/admin/VoucherDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: release backend v1.3.2
  backend/package.json
Due: none

add: fix bug sonar
  frontend/src/pages/admin/ListVouchersOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: fix bug sonar
  frontend/src/pages/admin/ListCoursesOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: form edit and create slot
  frontend/src/components/admin/CustomEditorTemplate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: schedule for admin
  frontend/src/components/admin/SetupSchedules.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: style for schedule
  frontend/src/assets/styles/schedule.css
Due: none

update: add slot interface
  frontend/src/schemas/slot.schema.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: add function service
  frontend/src/services/api/attendance.ts
  frontend/src/services/api/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: utils check conflict slot
  frontend/src/utils/checkSlotConflict.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: update backend to v1.3.3
  backend/package.json
Due: none

update: apy get all teachers by courseId
  frontend/src/services/api/class.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: api calculate salaries
  frontend/src/services/api/salary.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: salary schema
  frontend/src/schemas/salary.schema.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: name component calculate salaries
  frontend/src/pages/admin/SalariesCreate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: form calculate salaries
  frontend/src/components/admin/FormCalculateSalaries.tsx
  frontend/src/components/admin/FormSalariesCalculate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: api find slot done by range
  backend/src/domains/slots/slots.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: add check conflict slot
  frontend/src/components/admin/CustomEditorTemplate.tsx
  frontend/src/schemas/slot.schema.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

fix: issue build front end
  frontend/src/components/admin/SetupSchedules.tsx
  frontend/src/components/teacher/FormCheckAttendances.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: method delete in list salaries
  frontend/src/components/admin/ListSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: logic for form calculate salaries
  frontend/src/components/admin/FormCalculateSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: sonar issue
  frontend/src/components/admin/CustomEditorTemplate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: time to display
  frontend/src/components/admin/SetupSchedules.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: layout for form calculate salaries
  frontend/src/components/admin/FormCalculateSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: layout for list salaries
  frontend/src/components/admin/ListSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: message notification when calculate salaries
  frontend/src/components/admin/FormCalculateSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: release backend v1.3.4
  backend/package.json
Due: none

update: auto add data after student register course
  backend/src/domains/payments/payments.module.ts
  backend/src/domains/payments/payments.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.3.5
  backend/package.json
Due: none

update: route for list salaries of teacher
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: page layout for list salaries of teacher
  frontend/src/pages/teacher/ListSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
