Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

fix: fix build frontend
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/components/commons/Sidebar.tsx
  frontend/src/components/student/Sidebar.tsx
  frontend/src/components/teacher/Sidebar.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: implement build workflows for backend & frontend
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
Due: none

update: update publish images workflows
  .github/workflows/publish-backend-image.yml
  .github/workflows/publish-frontend-image.yml
Due: none

fix: fix build frontend in docker
  .github/workflows/build-frontend.yml
  frontend/src/pages/teacher/ListClass.tsx
  frontend/src/services/api/auth.ts
  frontend/vite.config.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: remove docker for frontend
  .github/workflows/publish-frontend-image.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/components/admin/ListCourses.tsx
  frontend/src/components/commons/Header.tsx
  frontend/src/components/student/ListCourse.tsx
  frontend/src/layouts/student/student.haveSidebar.tsx
  frontend/src/layouts/student/student.noSidebar.tsx
  frontend/src/main.tsx
  frontend/src/pages/admin/CentersManagement.tsx
  frontend/src/pages/admin/CoursesManagement.tsx
  frontend/src/pages/admin/Dashboard.tsx
  frontend/src/pages/admin/Login.tsx
  frontend/src/pages/teacher/ListClass.tsx
  frontend/vite.config.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: add api get by Id for `student`
  backend/src/domains/students/students.controller.ts
  backend/src/domains/students/students.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.1.8
  backend/package.json
Due: none

fix: error login
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: service api for get student by email
  frontend/src/services/api/student.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: update proxy config
  proxy/nginx.conf
Due: none

add: student profile edit page
  frontend/src/pages/student/EditProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: route for student profile edit page
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: setup base for `vouchers` manager
  frontend/src/App.tsx
  frontend/src/components/admin/ListVouchers.tsx
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/pages/admin/VouchersManagement.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: component Form Update student profile
  frontend/src/components/student/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: dependencies for component Form Update
  frontend/package.json
  frontend/yarn.lock
Due: none

update: import component Form Update into page
  frontend/src/pages/student/EditProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: mandatory for field input
  frontend/src/components/student/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: utils to validate input format
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: utils to check address input
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: import utils validate input into form
  frontend/src/components/student/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: list `vouchers` for `admin` manager
  frontend/src/components/admin/ListVouchers.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: format date time (hh:mm dd/mm/yyyy) function
  frontend/src/utils/dateFormat.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: date format form UTC+7 to UTC
  frontend/src/utils/dateFormat.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: validate input for Vietnamese name
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: function update student in api
  frontend/src/services/api/student.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: reducer for update student
  frontend/src/slices/student.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: style for loading in student detail
  frontend/src/components/student/DetailStudent.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: component Update Form
  frontend/src/components/student/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: component Button go back common
  frontend/src/components/commons/ButtonGoback.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: style for student page layout
  frontend/src/layouts/student/student.haveSidebar.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: import Button go back
  frontend/src/pages/student/EditProfile.tsx
  frontend/src/pages/student/Profile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: validate input for address
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

fix: sonar error
  frontend/src/components/student/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add class detail for teacher
  frontend/src/App.tsx
  frontend/src/pages/teacher/ClassDetail.tsx
  frontend/src/pages/teacher/ListClass.tsx
  frontend/src/pages/teacher/ListStudent.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add path for class detail
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: sonar error
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: add ListClass component for ClassDetail
  frontend/src/pages/teacher/ListStudent.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add ListClass
  frontend/src/pages/teacher/ListClass.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: update ClassDetail
  frontend/src/pages/teacher/ClassDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
