Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

update: layout for sidebar
  frontend/src/components/teacher/Sidebar.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: student schedule
  frontend/src/components/student/Schedule.tsx
  frontend/src/services/api/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: add service for slot and attendance
  frontend/src/services/api/attendance.ts
  frontend/src/services/api/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: import service to use
  frontend/src/components/student/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: remove console log
  frontend/src/components/student/Schedule.tsx
  frontend/src/services/api/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: fix sonar cloud issues and add refresh button
  frontend/src/components/student/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: sonar issue
  frontend/src/services/api/attendance.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: add route for student register
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add student register page
  frontend/src/pages/student/StudentRegisterPage.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add component student register
  frontend/src/components/student/StudentRegister.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update navigate to register student
  frontend/src/components/student/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix css
  frontend/src/components/student/StudentRegister.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: method find slot in range
  backend/src/domains/slots/slots.controller.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.3.6
  backend/package.json
Due: none

update: api service get salary by id
  frontend/src/services/api/salary.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: api service find slots in range
  frontend/src/services/api/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: page layout list salaries for teacher
  frontend/src/pages/teacher/ListSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: handle go back
  frontend/src/components/commons/ButtonGoback.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: add button go back
  frontend/src/components/teacher/ListClass.tsx
  frontend/src/components/teacher/ListStudent.tsx
  frontend/src/components/teacher/StudentDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: list salaries for teacher
  frontend/src/components/teacher/ListSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: style for schedule
  frontend/src/assets/styles/scheduleStudent.css
Due: none

update: import styles for schedule
  frontend/src/main.tsx
  frontend/src/pages/student/ScheduleView.tsx
  frontend/src/pages/teacher/ScheduleView.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: change path style for admin schedule
  frontend/src/main.tsx
  frontend/src/pages/admin/SchedulesManagement.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update css button and remove detail button
  frontend/src/components/student/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: regex for validate Vietnamese name
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: link to landing page at Logo
  frontend/src/components/commons/Header.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: style for buttons in student pages
  frontend/src/components/student/DetailStudent.tsx
  frontend/src/components/student/FormUpdateProfile.tsx
  frontend/src/components/student/ListClass.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: add button edit and delete for course detail
  frontend/src/components/admin/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: validate course's price
  frontend/src/components/admin/FormEditCourse.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: validate bod of teacher
  frontend/src/components/teacher/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add format price
  frontend/src/components/student/StudentRegister.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: add button edit and delete for voucher
  frontend/src/components/admin/VoucherDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix bug #316
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/components/admin/ListCourses.tsx
  frontend/src/pages/admin/ListCoursesOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix bug #320
  frontend/src/components/admin/FormCreateCourse.tsx
  frontend/src/components/admin/FormCreateVoucher.tsx
  frontend/src/pages/teacher/ListSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: format email when create center
  frontend/src/components/admin/FormCreateCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix bug #324
  frontend/src/components/admin/FormEditCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: bug #312
  frontend/src/components/teacher/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: bug still access the Login page even though already logged in
  frontend/src/pages/admin/Login.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: check existing center
  backend/src/domains/centers/centers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.3.7
  backend/package.json
Due: none

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
