Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

update: component form edit center
  frontend/src/components/admin/FormEditCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: center create for admin
  frontend/src/App.tsx
  frontend/src/components/admin/CenterForm.tsx
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/pages/admin/CenterCreate.tsx
  frontend/src/services/api/center.ts
  frontend/src/services/api/class.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: fix UI
  frontend/src/components/admin/CenterForm.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: fix bug sonar
  frontend/src/components/admin/CenterForm.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: fix bug sonar
  frontend/src/components/admin/DetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add path of course detail for student
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add coursedetail
  frontend/src/pages/student/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add coursedetail component
  frontend/src/components/student/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: change path of course detail
  frontend/src/components/student/CardCourse.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: reducer for update center state
  frontend/src/slices/center.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: setup base form create voucher
  frontend/src/components/admin/FormCreateVoucher.tsx
  frontend/src/components/admin/ListVouchers.tsx
  frontend/src/pages/admin/VoucherCreate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: create center for admin
  frontend/src/components/admin/CenterForm.tsx
  frontend/src/components/admin/FormCreateCenter.tsx
  frontend/src/pages/admin/CenterCreate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: implement Redux in Form edit center
  frontend/src/components/admin/FormEditCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: condition to show dropdown center
  frontend/src/layouts/student/student.noSidebar.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add change table format
  frontend/src/components/student/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: update max_students
  frontend/src/components/student/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: change validate
  backend/src/domains/centers/dto/center.dto.ts
  backend/src/domains/classes/dto/class.dto.ts
  backend/src/domains/payments/dto/payment.dto.ts
  backend/src/domains/slots/dto/slot.dto.ts
  backend/src/domains/students/dto/student.dto.ts
  backend/src/schemas/class.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.2.0
  backend/package.json
Due: none

update: alias for import path
  frontend/src/components/admin/FormEditCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: create voucher page
  frontend/src/components/admin/FormCreateVoucher.tsx
  frontend/src/pages/admin/VoucherCreate.tsx
  frontend/src/services/api/voucher.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: validate for create voucher form
  frontend/src/components/admin/FormCreateVoucher.tsx
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: completed center create for admin
  frontend/src/components/admin/FormCreateCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add path in App
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add studentdetail
  frontend/src/pages/teacher/StudentDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add studentdetail component
  frontend/src/components/teacher/StudentDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: update change path
  frontend/src/components/teacher/ListStudent.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: delete center
  frontend/src/components/admin/DetailOfCenter.tsx
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/services/api/center.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

fix: fix warning when linting
  frontend/src/components/admin/DetailOfCenter.tsx
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/components/admin/ListCourses.tsx
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/components/student/CourseDetail.tsx
  frontend/src/components/teacher/ListClass.tsx
  frontend/src/components/teacher/ListStudent.tsx
  frontend/src/pages/teacher/Login.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: change path navigate to student detail
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: change path navigate to student detail
  frontend/src/components/teacher/ListStudent.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: service check voucher exist service
  frontend/src/services/api/voucher.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: message notification when delete `voucher`
  frontend/src/components/admin/ListVouchers.tsx
  frontend/src/components/admin/VoucherDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: handle value for form create `voucher`
  frontend/src/components/admin/FormCreateVoucher.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: navigation of edit center page
  frontend/src/components/admin/DetailOfCenter.tsx
  frontend/src/components/admin/FormEditCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: edit course page base
  frontend/src/components/admin/FormEditCourse.tsx
  frontend/src/pages/admin/CourseEdit.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: route for edit course page
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: navigation route to edit course page
  frontend/src/App.tsx
  frontend/src/components/admin/DetailOfCourse.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: course update api service and slice for update state
  frontend/src/services/api/course.ts
  frontend/src/slices/course.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: view course detail in center for admin
  frontend/src/App.tsx
  frontend/src/pages/admin/CourseDetailCenter.tsx
  frontend/src/services/api/center.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: add formatTimeToVietnamTimezone
  frontend/src/utils/dateFormat.ts
Due: yarn prettier --write "./frontend/**/*.ts"

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
