Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

fix: fix bug #325
  frontend/src/components/admin/FormCreateCenter.tsx
  frontend/src/components/admin/FormEditCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: bug #358
  frontend/src/components/admin/FormCreateTeacher.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: sonar cloud issue
  frontend/src/components/admin/FormEditCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix bug layout in register class screen
  frontend/src/components/student/StudentRegister.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix layout in register class #371
  frontend/src/components/student/StudentRegister.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix bug #378
  frontend/src/components/teacher/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: bug #385
  frontend/src/components/admin/SetupSchedules.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: release backend v1.3.8
  backend/package.json
  backend/src/domains/teachers/teachers.module.ts
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix bug #379 & add message notification
  frontend/src/components/admin/FormAddCourse.tsx
  frontend/src/components/admin/FormAddVoucher.tsx
  frontend/src/components/admin/FormCreateClass.tsx
  frontend/src/components/admin/FormCreateTeacher.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix change password form error message
  frontend/src/components/teacher/ChangePasswordForm.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix age of student when edit profile
  frontend/src/components/student/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix bug #380
  frontend/src/components/admin/ListSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: add fillter for current voucher
  frontend/src/components/admin/FormAddVoucher.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: handle logout of teacher
  frontend/src/components/teacher/TeacherDropdown.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: handle logout of admin
  frontend/src/components/admin/AdminHeader.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: button goback
  frontend/src/components/student/AttendencesReport.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: remove search icon
  frontend/src/components/student/ListCourse.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: bug #387
  frontend/src/components/student/CourseDetail.tsx
  frontend/src/services/custom/getStudentbyToken.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

fix: issue build
  frontend/src/components/student/CourseDetail.tsx
  frontend/src/services/custom/getStudentbyToken.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

fix: fix bug #384
  frontend/src/components/teacher/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

Revert "fix: fix layout in register class #371"
  frontend/src/components/student/StudentRegister.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: style for popup
  frontend/src/components/student/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: finish dump data
  database/ligevan.attendances.json
  database/ligevan.centers.json
  database/ligevan.classes.json
  database/ligevan.courses.json
  database/ligevan.payments.json
  database/ligevan.salaries.json
  database/ligevan.slots.json
  database/ligevan.students.json
  database/ligevan.teachers.json
  database/ligevan.vouchers.json
Due: none

fix: logic of schedule to check attendances
  frontend/src/components/teacher/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

Update README.md
  README.md
Due: none

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
