Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

.lintstagedrc:

{
	"backend/**/*.ts": ["yarn prettier --write \"./backend/**/*.ts\""],
	"backend/**/*.js": ["yarn prettier --write \"./backend/**/*.js\""],
	"frontend/**/*.ts": ["yarn prettier --write \"./frontend/**/*.ts\""],
	"frontend/**/*.tsx": ["yarn prettier --write \"./frontend/**/*.tsx\""],
	"frontend/**/*.js": ["yarn prettier --write \"./frontend/**/*.js\""]
}

update: route dashboard for admin
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: footer common
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/components/commons/Footer.tsx
  frontend/src/components/commons/Header.tsx
  frontend/src/components/student/CardCourse.tsx
  frontend/src/components/student/DropdownCenter.tsx
  frontend/src/components/student/Header.tsx
  frontend/src/components/student/ListCourse.tsx
  frontend/src/layouts/admin.tsx
  frontend/src/layouts/student/notLogin.tsx
  frontend/src/pages/admin/Dashboard.tsx
  frontend/src/pages/student/Homepage.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: auto get version from `package.json`
  backend/Dockerfile
  backend/src/swagger/setup.ts
  backend/tsconfig.json
Due: yarn prettier --write "./backend/**/*.ts"

add: implement nginx config as proxy
  proxy/.editorconfig
  proxy/nginx.conf
Due: none

add: implement sidebar for admin and common
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/components/commons/SIdebar.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update docker compose for development
  docker-compose.development.yml
  docker-compose.yml
Due: none

update: update dashboard for admin
  frontend/src/pages/admin/Dashboard.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: implement docker compose for production
  .gitignore
  docker-compose.production.yml
Due: none

update: update proxy
  docker-compose.production.yml
  proxy/nginx.conf
Due: none

add: add api for get all student, teacher, voucher
  frontend/src/services/api/student.ts
  frontend/src/services/api/teacher.ts
  frontend/src/services/api/voucher.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: change populate for get`classes`
  backend/src/domains/classes/classes.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix proxy not running
  docker-compose.production.yml
  proxy/nginx.conf
Due: none

update: change populate for get`attendances`
  backend/src/domains/attendances/attendances.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: change populate for get`centers`
  backend/src/domains/centers/centers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: change populate for get`slots`
  backend/src/domains/slots/slots.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: change populate for get`students`
  backend/src/domains/students/students.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: change populate for get`teachers`
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: populate api get
  backend/src/domains/attendances/attendances.service.ts
  backend/src/domains/centers/centers.service.ts
  backend/src/domains/classes/classes.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: duplicate in `attendances` service
  backend/src/domains/attendances/attendances.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: duplicate in `centers` service
  backend/src/domains/centers/centers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: duplicate in `classes` service
  backend/src/domains/classes/classes.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: duplicate in `payments` service
  backend/src/domains/payments/payments.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: duplicate in `salaries` service
  backend/src/domains/salaries/salaries.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: duplicate in `slots` service
  backend/src/domains/slots/slots.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: duplicate in `students` service
  backend/src/domains/students/students.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix proxy not enable https
  docker-compose.production.yml
  proxy/nginx.conf
Due: none

fix: duplicate in `teachers` service
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: api service for `student` & `teacher`
  backend/src/domains/students/students.service.ts
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: merge docker compose to one file
  docker-compose.development.yml
  docker-compose.production.yml
  docker-compose.yml
Due: none

update: hidden tooltip on pie chart in dashboard
  frontend/src/pages/admin/Dashboard.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: backend to v1.1.1
  .github/workflows/validate-branches-on-creation.yml
  backend/package.json
Due: none

update: update `Validate branches on creation` workflow
  .github/workflows/validate-branches-on-creation.yml
Due: none

fix: done bug when teacher login
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: update `Commit message validation` workflow
  .github/workflows/commit-msg-validation.yml
Due: none

update: change `server_name` in proxy
  proxy/nginx.conf
Due: none

add: dump data for 7 collection
  database/.gitkeep
  database/ligevan.admins.json
  database/ligevan.centers.json
  database/ligevan.classes.json
  database/ligevan.courses.json
  database/ligevan.slots.json
  database/ligevan.teachers.json
  database/ligevan.vouchers.json
Due: none

fix: fix student login
  backend/package.json
  backend/src/schemas/student.schema.ts
  backend/src/schemas/teacher.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: update `PR validation` workflow
  .github/workflows/pr-validation.yml
Due: none

update: data for 10 collection
  database/ligevan.attendances.json
  database/ligevan.classes.json
  database/ligevan.payments.json
  database/ligevan.slots.json
  database/ligevan.students.json
Due: none

add: sign in by google button component
  frontend/src/components/student/SignInButton.tsx
  frontend/yarn.lock
Due: yarn prettier --write "./frontend/**/*.tsx"
