Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

fix: sonar error
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: center detail for admin
  frontend/src/App.tsx
  frontend/src/components/admin/DetailOfDetail.tsx
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/pages/admin/CenterDetail.tsx
  frontend/src/services/api/center.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: complete UI for center detail
  frontend/src/App.tsx
  frontend/src/components/admin/DetailOfDetail.tsx
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/pages/admin/CenterDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: regex for utils validate
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: style for form input
  frontend/src/components/student/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: sonar isssue
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: remove unuse dependency
  frontend/package.json
  frontend/yarn.lock
Due: none

update: alias for route
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: component Button goback
  frontend/src/components/commons/ButtonGoback.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: button 'refresh' for centers manager
  frontend/src/App.tsx
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/pages/admin/CenterDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: change place holder login for admin
  frontend/src/pages/admin/Login.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: change form button view detail & delete
  frontend/src/components/admin/ListVouchers.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: class list page base and add route
  frontend/src/App.tsx
  frontend/src/pages/student/ClassList.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: setup route for `admin` `voucher` detail manager
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: layout page for `admin` `voucher` detail manager
  frontend/src/pages/admin/VoucherDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: navigate to `voucher` detail
  frontend/src/components/admin/ListVouchers.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: `voucher` detail component
  frontend/src/components/admin/VoucherDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: service to get class by id
  frontend/src/services/api/class.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: list class component for student
  frontend/src/components/student/ListClass.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: class list page for student
  frontend/src/pages/student/ClassList.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: icon for go back button
  frontend/src/components/commons/ButtonGoback.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: add option Schedule for sidebar
  frontend/src/components/student/Sidebar.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: style for layout student page
  frontend/src/layouts/student/student.haveSidebar.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: import component go back button
  frontend/src/components/student/DetailStudent.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: remove go back button for page
  frontend/src/pages/student/Profile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: add crud api for `voucher` service
  frontend/src/services/api/voucher.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: center detail for admin (done)
  frontend/src/components/admin/DetailOfCenter.tsx
  frontend/src/components/admin/DetailOfDetail.tsx
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/pages/admin/CenterDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: handle delete `voucher`
  frontend/src/components/admin/ListVouchers.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: detail `voucher` component
  frontend/src/components/admin/VoucherDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add create from of course
  frontend/src/assets/styles/formCourse.css
  frontend/src/components/admin/CourseForm.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update handle create course
  frontend/src/components/admin/ListCourses.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add page to create course
  frontend/src/pages/admin/CourseCreate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add post method for course api
  frontend/src/services/api/course.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: add route for create course
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: sonarcloud issue for PR #189
  frontend/src/components/admin/VoucherDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix not use import
  frontend/src/pages/admin/CourseCreate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix sonar scan
  frontend/src/components/admin/CourseForm.tsx
  frontend/src/utils/formatPrice.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
