Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

update : update title sidebar
  frontend/src/components/teacher/Sidebar.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: sign in by google button component
  frontend/src/components/student/SignInButton.tsx
  frontend/yarn.lock
Due: yarn prettier --write "./frontend/**/*.tsx"

update: login button for front end
  frontend/src/components/student/SignInButton.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update style css
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: dropdown profile
  frontend/src/components/student/DropdownProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: responsive for Profile dropdown
  frontend/src/components/student/DropdownProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: package json file in front end
  package.json
  yarn.lock
Due: none

update: package json and yarn
  package.json
  yarn.lock
Due: none

update: package json file
  package.json
Due: none

update: default route
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update path after teacher login
  frontend/src/App.tsx
  frontend/src/pages/teacher/Classes.tsx
  frontend/src/pages/teacher/Homepage.tsx
  frontend/src/pages/teacher/Login.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix login page UI and route to /admin
  frontend/src/App.tsx
  frontend/src/pages/admin/Login.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: centers manager for admin (completed)
  frontend/src/App.tsx
  frontend/src/assets/styles/listCenters.css
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/components/commons/SIdebar.tsx
  frontend/src/pages/admin/CentersManagement.tsx
  frontend/src/pages/admin/Dashboard.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix layout footer and sidebar
  frontend/src/components/commons/Footer.tsx
  frontend/src/layouts/admin.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: student profile page layout
  frontend/src/App.tsx
  frontend/src/components/student/StudentDetail.tsx
  frontend/src/layouts/student/student.haveSidebar.tsx
  frontend/src/layouts/student/student.noSidebar.tsx
  frontend/src/pages/student/Homepage.tsx
  frontend/src/pages/student/Login.tsx
  frontend/src/pages/student/Profile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix sonar scan
  frontend/src/components/admin/AdminHeader.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: courses manager for admin
  frontend/src/assets/styles/listCourse.css
  frontend/src/components/admin/ListCourses.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: courses manager for admin (completed)
  frontend/src/components/admin/ListCourses.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix login page
  frontend/src/App.tsx
  frontend/src/pages/admin/Login.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: centers manager for admin (done)
  frontend/src/components/admin/ListCenters.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add login page for teacher
  frontend/src/App.tsx
  frontend/src/components/commons/Header.tsx
  frontend/src/components/commons/SIdebar.tsx
  frontend/src/components/teacher/Sidebar.tsx
  frontend/src/layouts/teacher.tsx
  frontend/src/pages/teacher/Homepage.tsx
  frontend/src/pages/teacher/Login.tsx
  frontend/src/schemas/teacher.schema.ts
  frontend/src/slices/teacher.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: implement teacher login
  frontend/src/components/commons/Header.tsx
  frontend/src/layouts/teacher.tsx
  frontend/src/pages/teacher/Homepage.tsx
  frontend/src/pages/teacher/Login.tsx
  frontend/src/slices/teacher.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: implement teacher manage class
  frontend/src/App.tsx
  frontend/src/pages/teacher/Classes.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add dropdown
  frontend/src/components/teacher/TeacherDropdown.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: update search and dropdown profile
  frontend/src/components/commons/Header.tsx
  frontend/src/layouts/teacher.tsx
  frontend/src/pages/teacher/Classes.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: change text to vietnamese
  frontend/src/components/teacher/TeacherDropdown.tsx
  frontend/src/pages/teacher/Classes.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add login page for admin
  frontend/src/App.tsx
  frontend/src/layouts/admin.tsx
  frontend/src/pages/admin/Login.tsx
  frontend/src/services/api/auth.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

fix: fix sonar scan
  frontend/src/pages/admin/Login.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add protected route
  frontend/src/App.tsx
  frontend/src/components/admin/ProtectedRoute.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix sidebar
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/components/commons/SIdebar.tsx
  frontend/src/layouts/admin.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix login
  frontend/src/pages/admin/Login.tsx
  frontend/src/services/api/admin.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

fix: fix header admin
  frontend/src/components/admin/AdminHeader.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
