Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

update: change position of styles folders
  frontend/src/App.tsx
  frontend/src/assets/styles/global.css
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update version for `backend`
  backend/package.json
Due: none

add: add homepage for admin
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/admin/Dashboard.tsx
  frontend/yarn.lock
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update to vietnamese language
  frontend/src/pages/admin/Dashboard.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update package
  frontend/package.json
  frontend/src/App.tsx
  frontend/yarn.lock
Due: yarn prettier --write "./frontend/**/*.tsx"

add: implement cors for backend
  backend/src/app.module.ts
  backend/src/config/cors.config.ts
  backend/src/main.ts
Due: yarn prettier --write "./backend/**/*.ts"

docs: update README for backend, close #68
  backend/README.md
Due: none

add: home page for student
  frontend/src/App.tsx
  frontend/src/assets/.gitkeep
  frontend/src/assets/styles/header.css
  frontend/src/assets/styles/listCourse.css
  frontend/src/components/commons/Footer.tsx
  frontend/src/components/commons/Header.tsx
  frontend/src/components/student/CardCourse.tsx
  frontend/src/components/student/DropdownCenter.tsx
  frontend/src/components/student/Header.tsx
  frontend/src/components/student/ListCourse.tsx
  frontend/src/layouts/student/notLogin.tsx
  frontend/src/models/center.ts
  frontend/src/models/course.ts
  frontend/src/models/voucher.ts
  frontend/src/pages/student/Homepage.tsx
  frontend/src/services/api/.gitkeep
  frontend/src/services/getAllCenter.ts
  frontend/src/services/getAllCourse.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: add role enum & decorator
  backend/src/domains/auth/decorators/roles.decorator.ts
  backend/src/domains/auth/enums/role.enum.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: update brand name in footer
  frontend/src/components/commons/Footer.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: implement role base authorized
  backend/src/domains/auth/auth.controller.ts
  backend/src/domains/auth/auth.service.ts
  backend/src/domains/auth/guards/roles.guard.ts
  backend/src/domains/auth/strategies/jwt.strategy.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: add lazy for loading route
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add route for Admin page
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update route name for Admin page
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: schemas for all collections in frontend
  frontend/src/components/student/CardCourse.tsx
  frontend/src/components/student/DropdownCenter.tsx
  frontend/src/components/student/ListCourse.tsx
  frontend/src/layouts/student/notLogin.tsx
  frontend/src/models/center.ts
  frontend/src/models/voucher.ts
  frontend/src/pages/student/Homepage.tsx
  frontend/src/schemas/admin.schema.ts
  frontend/src/schemas/attendance.schema.ts
  frontend/src/schemas/center.schema.ts
  frontend/src/schemas/class.schema.ts
  frontend/src/schemas/course.schema.ts
  frontend/src/schemas/payment.schema.ts
  frontend/src/schemas/salary.schema.ts
  frontend/src/schemas/slot.schema.ts
  frontend/src/schemas/student.schema.ts
  frontend/src/schemas/teacher.schema.ts
  frontend/src/schemas/voucher.schema.ts
  frontend/src/services/getAllCenter.ts
  frontend/src/services/getAllCourse.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: create config for strategy google oauth2
  backend/package.json
  backend/src/domains/auth/auth.module.ts
  backend/src/domains/auth/config/google-oauth2.config.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

add: setup service base
  frontend/src/components/student/DropdownCenter.tsx
  frontend/src/components/student/ListCourse.tsx
  frontend/src/services/api/admin.ts
  frontend/src/services/api/attendance.ts
  frontend/src/services/api/center.ts
  frontend/src/services/api/class.ts
  frontend/src/services/api/course.ts
  frontend/src/services/api/payment.ts
  frontend/src/services/api/salary.ts
  frontend/src/services/api/slot.ts
  frontend/src/services/api/student.ts
  frontend/src/services/api/teacher.ts
  frontend/src/services/api/voucher.ts
  frontend/src/utils/apiBase.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: implement login with google
  backend/src/domains/auth/auth.controller.ts
  backend/src/domains/auth/auth.module.ts
  backend/src/domains/auth/guards/student.guard.ts
  backend/src/domains/auth/strategies/student.strategy.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: remove `password` in student collection
  backend/src/domains/students/dto/student.dto.ts
  backend/src/domains/students/students.service.ts
  backend/src/schemas/student.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: re-implement student service
  backend/src/domains/students/dto/student.dto.ts
  backend/src/domains/students/students.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: setup slice base for store
  frontend/src/main.tsx
  frontend/src/slices/admin.ts
  frontend/src/slices/attendance.ts
  frontend/src/slices/center.ts
  frontend/src/slices/class.ts
  frontend/src/slices/course.ts
  frontend/src/slices/payment.ts
  frontend/src/slices/salary.ts
  frontend/src/slices/slot.ts
  frontend/src/slices/student.ts
  frontend/src/slices/teacher.ts
  frontend/src/slices/voucher.ts
  frontend/src/store.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: add avatar field to student
  backend/src/domains/students/dto/student.dto.ts
  backend/src/schemas/student.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: format all schemas
  frontend/src/schemas/admin.schema.ts
  frontend/src/schemas/attendance.schema.ts
  frontend/src/schemas/center.schema.ts
  frontend/src/schemas/class.schema.ts
  frontend/src/schemas/course.schema.ts
  frontend/src/schemas/payment.schema.ts
  frontend/src/schemas/salary.schema.ts
  frontend/src/schemas/slot.schema.ts
  frontend/src/schemas/student.schema.ts
  frontend/src/schemas/teacher.schema.ts
  frontend/src/schemas/voucher.schema.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: implement `student/login` api
  backend/src/domains/auth/auth.module.ts
  backend/src/domains/auth/auth.service.ts
  backend/src/domains/auth/strategies/student.strategy.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: add avatar for `student`
  frontend/src/schemas/student.schema.ts
  frontend/src/services/api/center.ts
  frontend/src/services/api/course.ts
  frontend/vite.config.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: delete try catch in `admins` service
  backend/src/domains/admins/admins.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete try catch in `attendances` service
  backend/src/domains/attendances/attendances.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete try catch in `centers` service
  backend/src/domains/centers/centers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: implement callback authen student api, close #70
  backend/README.md
  backend/src/domains/auth/auth.controller.ts
  backend/src/domains/auth/auth.service.ts
  backend/src/domains/auth/enums/role.enum.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete try catch in `classes` service
  backend/src/domains/classes/classes.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix always throw `InternalServerErrorException` error for `students` api
  backend/src/domains/students/students.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete try catch in `courses` service
  backend/src/domains/courses/courses.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete try catch in `payments` service
  backend/src/domains/payments/payments.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete try catch in `salaries` service
  backend/src/domains/salaries/salaries.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete try catch in `slots` service
  backend/src/domains/slots/slots.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete try catch in `teachers` service
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix sonarcloud scan
  backend/src/domains/auth/auth.controller.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: delete try catch in `vouchers` service
  backend/src/domains/vouchers/vouchers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: implement dashboard for admin
  frontend/src/App.tsx
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/layouts/admin.tsx
  frontend/src/pages/admin/Dashboard.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: install @ant-design/plots
  frontend/package.json
  frontend/yarn.lock
Due: none

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
