Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

update: attendance schema for fe
  frontend/src/schemas/attendance.schema.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: add route
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add setCenterID
  frontend/src/slices/center.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: delete button delete
  frontend/src/components/admin/CourseDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: delete button delete
  frontend/src/components/admin/ListClassOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: delete button delete in ListTeacher
  frontend/src/components/admin/ListTeacherOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: delete button delete in TeacherDetail
  frontend/src/components/admin/TeacherDetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: delete button delete in VoucherDetail
  frontend/src/components/admin/VoucherDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: delete button delete in ListCourses
  frontend/src/pages/admin/ListCoursesOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: delete button delete in ListVouchers
  frontend/src/pages/admin/ListVouchersOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: form check attendances
  frontend/src/components/teacher/FormCheckAttendances.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: sonar cloud issue
  frontend/src/components/teacher/FormCheckAttendances.tsx
  frontend/src/pages/teacher/CheckAttendances.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: sonar cloud issue again
  frontend/src/components/teacher/FormCheckAttendances.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add schedule component
  frontend/src/components/student/DropdownClass.tsx
  frontend/src/components/student/DropdownCourse.tsx
  frontend/src/components/student/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add page schedule
  frontend/src/pages/student/ScheduleView.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add api
  frontend/src/services/api/class.ts
  frontend/src/services/api/slot.ts
  frontend/src/services/api/student.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: setup route for salaries manager
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: layout dashboard
  frontend/src/pages/admin/Dashboard.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: page layout for salaries manager
  frontend/src/pages/admin/SalariesManagement.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: setup tab salary of teacher
  frontend/src/components/admin/Sidebar.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update `zalopay` endpoint
  backend/src/domains/payments/zalopay/config/zalopay.config.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: create `momo` module for payment
  backend/src/domains/payments/momo/config/momo.config.ts
  backend/src/domains/payments/momo/dto/momo.dto.ts
  backend/src/domains/payments/momo/momo.module.ts
  backend/src/domains/payments/payments.module.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: implement `create` method in momo service
  backend/src/domains/payments/momo/momo.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: implement callback for momo
  backend/src/domains/payments/momo/momo.service.ts
  backend/src/domains/payments/payments.controller.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: update momo config
  backend/src/domains/payments/momo/config/momo.config.ts
  backend/src/domains/payments/momo/momo.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: add momo for create payment service
  backend/src/domains/payments/payments.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: update backend version
  backend/package.json
Due: none

update: api find slot in time range
  backend/src/domains/slots/slots.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: api get list teachers by courseId
  backend/src/domains/classes/classes.controller.ts
  backend/src/domains/classes/classes.module.ts
  backend/src/domains/classes/classes.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: dto calculate salary
  backend/src/domains/salaries/dto/salary.dto.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: api calculate & delete salary
  backend/src/domains/salaries/salaries.controller.ts
  backend/src/domains/salaries/salaries.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: salary module import
  backend/src/domains/salaries/salaries.module.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: api get all & delete salary
  frontend/src/services/api/salary.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: layout salary manager
  frontend/src/pages/admin/SalariesManagement.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: list salary component
  frontend/src/components/admin/ListSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: route for calculate salaries
  frontend/src/App.tsx
  frontend/src/components/admin/ListSalaries.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: layout for form calculate salaries
  frontend/src/pages/admin/SalariesCreate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: form calculate salaries for teacher
  frontend/src/components/admin/FormSalariesCalculate.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
