Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

.lintstagedrc:

{
	"backend/**/*.ts": ["yarn prettier --write \"./backend/**/*.ts\""],
	"backend/**/*.js": ["yarn prettier --write \"./backend/**/*.js\""],
	"frontend/**/*.ts": ["yarn prettier --write \"./frontend/**/*.ts\""],
	"frontend/**/*.tsx": ["yarn prettier --write \"./frontend/**/*.tsx\""],
	"frontend/**/*.js": ["yarn prettier --write \"./frontend/**/*.js\""]
}

update: add `classes` ref to `teacher`
  backend/package.json
  backend/src/domains/teachers/dto/teacher.dto.ts
  backend/src/schemas/teacher.schema.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: layout Footer & remove position fixed
  frontend/src/components/commons/Footer.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

frontend: implement centers manager for admin
  frontend/src/App.tsx
  frontend/src/assets/styles/listCenters.css
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/components/commons/HeaderAdmin.tsx
  frontend/src/layouts/admin.tsx
  frontend/src/pages/admin/CentersManagement.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: dropdown center component
  frontend/src/components/student/DropdownCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: change get by Id to email
  backend/src/domains/students/students.controller.ts
  backend/src/domains/students/students.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release version 1.1.4
  backend/package.json
Due: none

update: login button for front end
  frontend/src/App.tsx
  frontend/src/components/student/LoginButton.tsx
  frontend/src/components/student/SignInButton.tsx
  frontend/src/layouts/student/notLogin.tsx
  frontend/src/utils/jwtDecode.ts
  frontend/yarn.lock
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: footer layout
  frontend/src/components/commons/Footer.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: add alt for img tag
  frontend/src/components/commons/Footer.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update Footer
  frontend/src/components/commons/Footer.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: user profile dropdown for Student login
  frontend/src/components/student/DropdownProfile.tsx
  frontend/src/components/student/Header.tsx
  frontend/src/layouts/student.tsx
  frontend/src/layouts/student/notLogin.tsx
  frontend/src/pages/student/Homepage.tsx
  frontend/src/services/api/student.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add:centers manager for admin
  frontend/src/App.tsx
  frontend/src/assets/styles/listCenters.css
  frontend/src/components/admin/ListCenters.tsx
  frontend/src/components/commons/HeaderAdmin.tsx
  frontend/src/layouts/admin.tsx
  frontend/src/pages/admin/CentersManagement.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update style css
  frontend/src/App.tsx
  frontend/src/assets/styles/header.css
  frontend/src/components/student/DropdownCenter.tsx
  frontend/src/components/student/DropdownProfile.tsx
  frontend/src/pages/student/Homepage.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update Header
  frontend/src/assets/styles/header.css
  frontend/src/components/commons/Header.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: responsive for dropdown Center in student home page
  frontend/src/assets/styles/dropdownCenter.css
  frontend/src/components/student/DropdownCenter.tsx
  frontend/src/layouts/student.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: responsive for login button
  frontend/src/assets/styles/header.css
  frontend/src/components/student/LoginButton.tsx
  frontend/yarn.lock
Due: yarn prettier --write "./frontend/**/*.tsx"

add: responsive for Profile dropdown
  frontend/src/components/student/DropdownProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: dropdown profile
  frontend/src/components/student/DropdownProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add login page for admin
  frontend/src/App.tsx
  frontend/src/layouts/admin.tsx
  frontend/src/pages/admin/Login.tsx
  frontend/src/services/api/auth.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: content in login button
  frontend/src/components/student/LoginButton.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: pagekage json file
  frontend/package.json
Due: none

update: package json and yarn
  package.json
  yarn.lock
Due: none

update: package json file in front end
  frontend/package.json
  frontend/yarn.lock
  package.json
  yarn.lock
Due: none

update: package json file
  package.json
Due: none

add: courses manager for admin
  frontend/src/App.tsx
  frontend/src/assets/styles/listCourse.css
  frontend/src/components/admin/ListCourses.tsx
  frontend/src/components/commons/HeaderAdmin.tsx
  frontend/src/layouts/admin.tsx
  frontend/src/pages/admin/CoursesManagement.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: default route
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix sonar scan
  frontend/src/pages/admin/Login.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add protected route
  frontend/src/App.tsx
  frontend/src/components/admin/ProtectedRoute.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: implement get teacher by email
  backend/package.json
  backend/src/domains/teachers/teachers.controller.ts
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: add login page for teacher
  frontend/src/App.tsx
  frontend/src/components/commons/Header.tsx
  frontend/src/components/commons/SIdebar.tsx
  frontend/src/components/teacher/Sidebar.tsx
  frontend/src/layouts/teacher.tsx
  frontend/src/pages/teacher/Homepage.tsx
  frontend/src/pages/teacher/Login.tsx
  frontend/src/schemas/teacher.schema.ts
  frontend/src/slices/teacher.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

update: type for `classes` in UpdateTeacherDto
  backend/src/domains/teachers/dto/teacher.dto.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: populate `classes` for `teacher`
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.1.6
  backend/package.json
Due: none

fix: fix teacher login
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: update backend version
  backend/package.json
Due: none

add: implement teacher login
  frontend/src/components/commons/Header.tsx
  frontend/src/layouts/teacher.tsx
  frontend/src/pages/teacher/Homepage.tsx
  frontend/src/pages/teacher/Login.tsx
  frontend/src/slices/teacher.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: implement teacher manage class
  frontend/src/App.tsx
  frontend/src/pages/teacher/Classes.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix sidebar
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/components/commons/SIdebar.tsx
  frontend/src/layouts/admin.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"
