Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

add: change path
  frontend/src/pages/admin/ListVouchersOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add AddVoucher
  frontend/src/pages/admin/AddVoucher.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add FormAddVoucher component
  frontend/src/components/admin/FormAddVoucher.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: change ui
  frontend/src/components/admin/FormAddCourse.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: change ui
  frontend/src/components/admin/FormAddVoucher.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: style for custom background of events
  frontend/src/assets/styles/schedule.css
Due: none

update: display center in events block
  frontend/src/components/teacher/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: issues sonar
  frontend/src/components/teacher/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: regex for validate email
  frontend/src/utils/inputValidate.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: update price format
  frontend/src/pages/admin/ListCoursesOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: change formatPercentage
  frontend/src/utils/formatPrice.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: create check attendance api for teacher
  backend/src/domains/attendances/attendances.controller.ts
  backend/src/domains/attendances/attendances.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: create attendances for slot api
  backend/src/domains/attendances/attendances.controller.ts
  backend/src/domains/attendances/attendances.module.ts
  backend/src/domains/attendances/attendances.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.2.4
  backend/package.json
Due: none

update: service for filter schedule
  frontend/src/services/api/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: add schedule for admin
  frontend/src/components/admin/SetupSchedules.tsx
  frontend/src/pages/admin/SchedulesManagement.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: setup route for check attendances page
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: implement api get student by slot
  frontend/src/services/api/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: page layout for check attendances
  frontend/src/pages/teacher/CheckAttendances.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: api check attendances
  frontend/src/services/api/attendance.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: interface check attendance
  frontend/src/schemas/attendance.schema.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: handle disable button check attendances
  frontend/src/components/teacher/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: create `zalopay` module
  backend/src/domains/payments/payments.module.ts
  backend/src/domains/payments/zalopay/zalopay.module.ts
  backend/src/domains/payments/zalopay/zalopay.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: implement `zalopay` config & install `axios`
  backend/package.json
  backend/src/domains/payments/zalopay/config/zalopay.config.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

add: implement `ZalopayService` method `createOrder`
  backend/package.json
  backend/src/domains/payments/zalopay/dto/zalopay.dto.ts
  backend/src/domains/payments/zalopay/zalopay.service.ts
  backend/yarn.lock
Due: yarn prettier --write "./backend/**/*.ts"

update: finish `createOrder` method with zalopay
  backend/src/domains/payments/zalopay/dto/zalopay.dto.ts
  backend/src/domains/payments/zalopay/zalopay.module.ts
  backend/src/domains/payments/zalopay/zalopay.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: implement api update slot
  frontend/src/services/api/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: implement `callback` for zalo payment
  backend/src/domains/payments/payments.controller.ts
  backend/src/domains/payments/payments.service.ts
  backend/src/domains/payments/zalopay/zalopay.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: method of api check attendances
  frontend/src/services/api/attendance.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: schema check attendance
  frontend/src/schemas/attendance.schema.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: form check attendance
  frontend/src/components/teacher/FormCheckAttendances.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: change response value for post `/api/payments`
  backend/src/domains/payments/payments.controller.ts
  backend/src/domains/payments/payments.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

fix: fix sonarcloud scan, close #238
  backend/src/domains/payments/zalopay/zalopay.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: upgrade `backend` to `v1.3.0`
  backend/package.json
Due: none

update: slice and function service for create slot
  frontend/src/services/api/slot.ts
  frontend/src/slices/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: dto for update slot
  backend/src/domains/slots/dto/slot.dto.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: import slot service to provider of attendance module
  backend/src/domains/attendances/attendances.module.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: auto put slot when create attendances
  backend/src/domains/attendances/attendances.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.3.1
  backend/package.json
Due: none

update: style avatar for student
  frontend/src/components/teacher/FormCheckAttendances.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
