Repository hardingadonis/ligevan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./backend/**/*.ts", yarn prettier --write "./backend/**/*.js", yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx", yarn prettier --write "./frontend/**/*.js"

update: list payment history for student
  frontend/src/components/student/PaymentHistory.tsx
  frontend/src/pages/student/PaymentHistory.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix update teacher with password
  backend/package.json
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

add: add TeacherDetailOfCenter component
  frontend/src/components/admin/TeacherDetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add TeacherDetail
  frontend/src/pages/admin/TeacherDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add getTeacherById
  frontend/src/services/api/teacher.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: add route
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: date format function to display slots
  frontend/src/utils/dateFormat.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: display all slots in schedule
  frontend/src/components/teacher/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: add more service for slot and teacher
  frontend/src/services/api/slot.ts
  frontend/src/services/api/teacher.ts
Due: yarn prettier --write "./frontend/**/*.ts"

update: display slots only for teacher account
  frontend/src/components/teacher/Schedule.tsx
  frontend/src/services/api/slot.ts
  frontend/src/services/api/teacher.ts
Due: yarn prettier --write "./frontend/**/*.ts", yarn prettier --write "./frontend/**/*.tsx"

add: add components change password form
  frontend/src/components/teacher/ChangePasswordForm.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add route change password
  frontend/src/App.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update login page with header and footer
  frontend/src/pages/teacher/Login.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add change password dropdown for teacher
  frontend/src/components/teacher/TeacherDropdown.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add page change password
  frontend/src/pages/teacher/ChangePassword.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add ClassDetailForAdmin
  frontend/src/pages/admin/ClassDetail.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add ClassDetailOfCenter component
  frontend/src/components/admin/ClassDetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: format page follow linh san
  frontend/src/pages/teacher/ChangePassword.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: not use formatDateToUTC
  frontend/src/components/teacher/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix build error
  frontend/src/components/teacher/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix sonar scan
  frontend/src/components/teacher/ChangePasswordForm.tsx
  frontend/src/components/teacher/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: err when update teacher
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.2.2
  backend/package.json
Due: none

fix: fix css
  frontend/src/components/teacher/ChangePasswordForm.tsx
  frontend/src/components/teacher/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: api change password for teacher & admin
  backend/src/domains/admins/admins.controller.ts
  backend/src/domains/admins/admins.service.ts
  backend/src/domains/admins/dto/admin.dto.ts
  backend/src/domains/teachers/dto/teacher.dto.ts
  backend/src/domains/teachers/teachers.controller.ts
  backend/src/domains/teachers/teachers.service.ts
Due: yarn prettier --write "./backend/**/*.ts"

update: release backend v1.2.3
  backend/package.json
Due: none

add: update ClassDetailOfCenter component
  frontend/src/components/admin/ClassDetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add ListClassOfCenter component
  frontend/src/components/admin/ListClassOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add ListTeacherOfCenter component
  frontend/src/components/admin/ListTeacherOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: err lint in class detail of center
  frontend/src/components/admin/ClassDetailOfCenter.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: service filter for schedule
  frontend/src/services/api/slot.ts
Due: yarn prettier --write "./frontend/**/*.ts"

add: dropdown center and course for filter
  frontend/src/components/teacher/DropdownCenter.tsx
  frontend/src/components/teacher/DropdownCourse.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: style for event block
  frontend/src/assets/styles/schedule.css
Due: none

update: split to smaller components and add style
  frontend/src/components/teacher/Schedule.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

add: add api for change password
  frontend/src/services/api/teacher.ts
Due: yarn prettier --write "./frontend/**/*.ts"

fix: fix css
  frontend/src/components/teacher/DetailTeacher.tsx
  frontend/src/components/teacher/FormUpdateProfile.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

update: update change password form with new api
  frontend/src/components/teacher/ChangePasswordForm.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

fix: fix build frontend
  frontend/src/components/teacher/ChangePasswordForm.tsx
Due: yarn prettier --write "./frontend/**/*.tsx"

Path conditions:
  yarn prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  yarn prettier --write "./backend/**/*.js": any of: backend/**/*.js
  yarn prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  yarn prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  yarn prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
